.meetVideoContainer{
    position:relative;
    height:100vh;
    background-color: rgb(0, 0, 43);
}
.meetUserVideo{
    position:absolute;
    bottom:10vh;
    height:20vh;
    width:auto;
left:0;
border-radius:20px;
}
.conferenceView{
display: flex;
padding: 10px;
gap:10px;

}
.buttonContainer{
    bottom: 0;
    position: absolute;
    width: 100vw;
    text-align: center;
}
.buttonContainer svg{
    font-size: 2rem;
    
}
.conferenceView  video{
    width:40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}
.chatRoom{
    position:absolute;
    height:90vh;
    right:0;
    background-color: white;
  border-radius: 10px;
  width:30vw;
  bottom:10vh;
  padding-inline:20px;
}
.chatContainer{
    position: relative;
    height: 100%;

}
.chattingArea{
    position:absolute;
    bottom:0;
}